@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 0.5em 1em;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* my solution; above are just element selectors */

a {
  color: #666;
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.header,
.footer {
  /* grouping selector */
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.left-links,
.right-links {
  display: flex;
  align-items: center;
  gap: 1em;
}

.footer {
  background-color: #eeeeee;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* I was shocked how simple the solution was! */
